<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Curriculum Vitae</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Jagraj Singh</a>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div id="wrapper">
        <div id="left">
        <div class='row'>
        <div class="col-md-8">
          <div class="content-section">
            <h4>Contact Information</h4>
              <ul class="list-group">
                <li class="list-group-item list-group-item">Address: 11 Treneere Road, Exhall, Coventry, CV7 9FR</li>
                <li class="list-group-item list-group-item">Mobile: 07311007207</li>
                <li class="list-group-item list-group-item">Email: singhjagraj900@gmail.com</li>
                <li class="list-group-item list-group-item">Gitub: github.com/jagraj28</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      </div>
        <div id="right">
        <div class='row'>
        <div class="col-md-8">
          <div class="content-section">
            <h4>Personal Statement</h4>
              <ul class="list-group">
                <li class="list-group-item list-group-item">A hard-working and enthusiastic second year undergraduate with invaluable experience in the energy, retail and education sectors.
                I am seeking a summer internship in an engineering related industry in order to obtain further experience and develop my career aspirations.
                I wish to pursue a career in software engineering, but I am open to new opportunities in other fields of work, such as research academia.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      </div>
      </div>
    </main>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="content-section">
            <h4>Education</h4>
              <ul class="list-group">
                <li class="list-group-item list-group-item">University of Leicester | September 2018 – Current<br>
                                                            Degree: Integrated Master’s in Physics, MPhys, 1:1 (Expected)<br>
                                                            Modules: Astrophysics, Space Science, Experimental Physics<br>
                                                            Computing: Python, C, Data Handling, Electronics and R</li>
                <li class="list-group-item list-group-item">Nicholas Chamberlaine School | September 2011 – June 2018<br>
                                                            GCSE’s: 11 Grade A* – A, including: Maths – A*, English Language – A, Physics - A*<br>
                                                            A Level’s: Maths – A, Further Maths – B, Physics – B</li>
                <li class="list-group-item list-group-item">Certificates and Awards:<br>
                                                            Leicester Award – University of Leicester | 2018<br>
                                                            Young Astronomer of the Year – Warwick University | 2015</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="content-section">
            <h4>Employment History</h4>
              <ul class="list-group">
                <li class="list-group-item list-group-item">Energy Specialist, Octopus Energy | October 2019 – Current<br>
                                                            •	Responsible for interacting with both the electricity and gas industry in order to rectify missing meter exchanges and to arrange new connections for new build houses.<br>
                                                            •	Experience in settling crossed meter disputes and overseeing the manual approval for list of held statements for customers.</li>
                <li class="list-group-item list-group-item">Ambassador, Think Higher | June 2017 – Current<br>
                                                            •	Leading groups of students on campus tours, promoting higher education and participating in careers events and outreach programmes.<br>
                                                            •	Key member of the team which undersaw the running of the Crest Awards (science projects) at Warwick University in the summers of 2017 and 2018.</li>
                <li class="list-group-item list-group-item">Summer Internship, Octopus Energy | June 2019 – October 2019<br>
                                                            •	Liaising with customers and other energy suppliers through phone and email correspondence. Conveying complex information in a simple manner for customers daily.<br>
                                                            •	Gained a rewarding insight into the procurement, partnerships, settlements, software/tech and electric vehicles sectors.</li>
                <li class="list-group-item list-group-item">Student Representative, Rockstar Promotions | September 2018 – October 2019<br>
                                                            •	Promoting new events every week and managing ticket sales in halls of residence and neighbouring accommodation, from this I developed key skills in cash handling.<br>
                                                            •	Taking a supervisory role as a Bus Rep where I ensured that the safety standards and legal requirements were met during transportation to the events. </li>
                <li class="list-group-item list-group-item">Customer Assistant, Tesco | November 2018 – January 2019<br>
                                                            •	Implementing stock rotation from the stockroom, and replenishing products on the shop floor. This allowed me to develop skills of working in a fast-paced environment.<br>
                                                            •	Working during the Christmas holiday period gave me the opportunity to learn how to adapt under pressure and under time constraints. </li>
                <li class="list-group-item list-group-item">Mentoring, Nicholas Chamberlaine School | November 2016 – May 2017<br>
                                                            •	Tutoring and mentoring students on a one-to-one basis. This gave me a leadership role with my peers and the ability to develop a rapport with them.<br>
                                                            •	The role allowed me to develop my organisational and time-management skills in order to ensure the completion of work by the students on time. </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>