<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Curriculum Vitae</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Jagraj Singh</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content-section">
            <h3>Contact Information</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item">Address: 11 Treneere Road, Exhall, Coventry, CV7 9FR</li>
                <li class="list-group-item list-group-item">Mobile: 07311007207</li>
                <li class="list-group-item list-group-item">Email: singhjagraj900@gmail.com</li>
                <li class="list-group-item list-group-item">Gitub: github.com/jagraj28</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-section">
            <h3>Personal Statement</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item">A hard-working and enthusiastic second year undergraduate with invaluable experience in the energy, retail and education sectors. </li>
                <li class="list-group-item list-group-item">I am seeking a summer internship in an engineering related industry in order to obtain further experience and develop my career aspirations.</li>
                <li class="list-group-item list-group-item">I wish to pursue a career in software engineering, but I am open to new opportunities in other fields of work, such as research academia.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="content-section">
            <h3>Education</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item">University of Leicester | September 2018 – Current
Degree: Integrated Master’s in Physics, MPhys, 1:1 (Expected)
Modules: Astrophysics, Space Science, Experimental Physics
Computing: Python, C, Data Handling, Electronics and R
</li>
                <li class="list-group-item list-group-item">Nicholas Chamberlaine School | September 2011 – June 2018
GCSE’s: 11 Grade A* – A, including: Maths – A*, English Language – A, Physics - A*
A Level’s: Maths – A, Further Maths – B, Physics – B 
</li>
                <li class="list-group-item list-group-item">Certificates and Awards:
Leicester Award – University of Leicester | 2018
Young Astronomer of the Year – Warwick University | 2015
</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="content-section">
            <h3>Employment History</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item"></li>
                <li class="list-group-item list-group-item"></li>
                <li class="list-group-item list-group-item"></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>