<!DOCTYPE html>
<html>
<head>
  <title>Curriculum Vitae</title>
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="The Curriculum Vitae of Jagraj Singh."/>
  <meta charset="utf-8"> 
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>

<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ url_for('static', filename='headshot.jpg') }}" alt="Jagraj Singh" />
		</div>
		<div id="name">
			<h1 class="quickFade delayTwo">Jagraj Singh</h1>
			<h2 class="quickFade delayThree">Student</h2>
		</div>
		<div id="contactDetails" class="quickFade delayFour">
			<h3>Contact Information</h3>
			<ul>
				<li>Email: <a href="https://mail.google.com/mail" target="_blank">singhjagraj900@gmail.com</a></li>
				<li>GitHub: <a href="https://github.com/jagraj28">github.com/jagraj28</a></li>
				<li>Mobile: 07311007207</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>About Myself</h1>
				</div>
				<div class="sectionContent">
					<p>A hard-working and enthusiastic second year undergraduate with invaluable experience in the energy, retail and education sectors. I am seeking a summer internship in an engineering related industry in order to obtain further experience and develop my career aspirations. I wish to pursue a career in software engineering, but I am open to new opportunities in other fields of work, such as research academia.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			<div class="sectionContent">
				<article>
					<h2>University of Leicester | 2018 - Current</h2>
					<p>Degree: Integrated Master’s in Physics, MPhys, 1:1 (Expected)<br>
					   Modules: Astrophysics, Space Science, Experimental Physics<br>
					   Computing: Python, C, Data Handling, Electronics and R</p>
				</article>
				<article>
					<h2>Nicholas Chamberlaine School | 2011 - 2018</h2>
					<p>GCSE’s: 11 Grade A* – A: Maths – A*, English Language – A, Physics - A*<br>
					   A Level’s: Maths – A, Further Maths – B, Physics – B</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Employment History</h1>
			</div>
			<div class="sectionContent">
				<article>
					<h2>Energy Specialist, Octopus Energy</h2>
					<p class="subDetails">October 2019 - Current</p>
					<p>• Responsible for interacting with both the electricity and gas industry in order to rectify missing meter exchanges and to arrange new connections for new build houses.<br>
					   • Experience in settling crossed meter disputes and overseeing the manual approval for list of held statements for customers.</p>
				</article>
				<article>
					<h2>Ambassador, ThinkHigher</h2>
					<p class="subDetails">June 2017 - Current</p>
					<p>• Leading groups of students on campus tours, promoting higher education and participating in careers events and outreach programmes.<br>
					   • Key member of the team which undersaw the running of the Crest Awards (science projects) at Warwick University in the summers of 2017 and 2018.</p>
				</article>
				<article>
					<h2>Summer Internship, Octopus Energy</h2>
					<p class="subDetails">June 2019 - September 2019</p>
					<p>• Liaising with customers and other energy suppliers through phone and email correspondence. Conveying complex information in a simple manner for customers daily.<br>
					   • Gained a rewarding insight into the procurement, partnerships, settlements, software/tech and electric vehicles sectors.</p>
				</article>
				<article>
					<h2>Student Representative, Rockstar Promotions</h2>
					<p class="subDetails">September 2018 – October 2019</p>
					<p>• Promoting new events every week and managing ticket sales in halls of residence and neighbouring accommodation, from this I developed key skills in cash handling.<br>
					   • Taking a supervisory role as a Bus Rep where I ensured that the safety standards and legal requirements were met during transportation to the events.</p>
				</article>
				<article>
					<h2>Customer Assistant, Tesco</h2>
					<p class="subDetails">November 2018 – January 2019</p>
					<p>• Implementing stock rotation from the stockroom, and replenishing products on the shop floor. This allowed me to develop skills of working in a fast-paced environment.<br>
					   • Working during the Christmas holiday period gave me the opportunity to learn how to adapt under pressure and under time constraints.</p>
				</article>
				<article>
					<h2>Mentoring, Nicholas Chamberlaine School</h2>
					<p class="subDetails">November 2016 – May 2017</p>
					<p>• Tutoring and mentoring students on a one-to-one basis. This gave me a leadership role with my peers and the ability to develop a rapport with them.<br>
					   • The role allowed me to develop my organisational and time-management skills in order to ensure the completion of work by the students on time.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			<div class="sectionContent">
				<article>
					<h2>Leadership:</h2>
					<p> As part of my duties as deputy head boy, I had the responsibility of formulating and conducting speeches in front of the lower school in order to portray specific key messages, in order to widen the students’ perspective regarding the outside world.</p>
				</article>
				<article>
					<h2>Coding/Software:</h2>
					<p>	I have fundamental skills and experience in the programming languages Python, C and R. My Computer Science GCSE required me to learn Python in order to program a student quiz, and I have built on this knowledge by learning how to use the Flask framework within Python for back-end web development.</p>
				</article>
				<article>
					<h2>Teamwork:</h2>
					<p>	I and two colleagues have a project currently underway to create a Python and Atom based application using the Octopus Energy API. The project is centred around the smart Agile tariff, which relies on wholesale market rates to calculate when it is the ideal time to use electricity in the home.</p>
				</article>
				<article>
					<h2>Communication:</h2>
					<p>	I am bi-lingual and can speak in various languages. In addition to my GCSE’s in English, French and Punjabi, I have a FCSE in German. I am also experienced in speaking and translating in Urdu and Hindi.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>